.cid-qyvisAZ1Bw {
    padding-top: 135px;
    padding-bottom: 90px;
    background-color: #f1ecd5;
}
section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}
section {
    display: block;
}
*, ::after, ::before {
    box-sizing: inherit;
}
body {
    font-style: normal;
    line-height: 1.5;
}
body {
    color: #232323;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
}
.cid-qyvcqB36eR {
    padding-top: 135px;
    padding-bottom: 135px;
    background-image: url(../../../assets/images/about.jpeg);
}
section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}
section {
    background-color: #eeeeee;
}
section {
    display: block;
}
body {
    font-style: normal;
    line-height: 1.5;
}
section {
    display: block;
}
.cid-qyvf5b5WEt {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f1ecd5;
    background: linear-gradient(#f1ecd5, #ecfafc);
}
img {
    width: auto;
    margin: auto;
}